<?php

// Unipass configuration ///////////////////////////////////////////////////////////////////////////////////////////////

// define('UNIPASS_URL', 'https://test.stworzonedlazdrowia.pl'); // Optionally set another Unipass domain
define('UNIPASS_CLIENT_ID',     'YOUR_UNIPASS_CLIENT_ID');     // Unipass Client ID
define('UNIPASS_CLIENT_SECRET', 'YOUR_UNIPASS_CLIENT_SECRET'); // Unipass Client Secret
define('REDIRECT_URI',          'YOUR_UNIPASS_HANDLER_URI');
