<?php

// Facebook configuration //////////////////////////////////////////////////////////////////////////////////////////////

define('FACEBOOK_APP_URL',    'YOUR_FACEBOOK_APP_URL');    // https://apps.facebook.com/My-App/ or https://www.facebook.com/pages/My-App-Page/1029384756?sk=app_6574839201
define('FACEBOOK_APP_ID',     'YOUR_FACEBOOK_APP_ID');     // Facebook App ID
define('FACEBOOK_APP_SECRET', 'YOUR_FACEBOOK_APP_SECRET'); // Facebook App Secret
define('FACEBOOK_SCOPE',      'email');                    // Authorization scope

// Unipass configuration ///////////////////////////////////////////////////////////////////////////////////////////////

// define('UNIPASS_URL', 'https://test.stworzonedlazdrowia.pl'); // Optionally set another Unipass domain
define('UNIPASS_CLIENT_ID',     'YOUR_UNIPASS_CLIENT_ID');     // Unipass Client ID
define('UNIPASS_CLIENT_SECRET', 'YOUR_UNIPASS_CLIENT_SECRET'); // Unipass Client Secret
